<div class="container-fluid">
  <div class="divIzquierda">
    <img src="https://cdn.pixabay.com/photo/2014/04/03/10/01/bench-309646_960_720.png" alt=""  height="70px">
  </div>

  <div class="divCentro">
    <form [formGroup]="formularioLogin">
        <!-- <label for='cc'>Cedula de ciudadania</label> -->

        <div class="loginFormContainer">
          <div>
              <input type='number' name='cc' formControlName='cc' placeholder="Documento de Identidad">
          </div>
          <div>
              <button (click)="ingresar()" class="buttonLogin" [disabled]="formularioLogin.invalid">Ingresar</button>
          </div>
        </div>
        <span>{{ getError('cc') }}</span>

    </form>

    

  </div>

  <div class="divDerecha"  *ngIf=true>
      <h2>No se encuentra el usuario con el documento dado</h2>
      <h4>Verifica tus datos e intentalo de nuevo</h4>
  </div>
</div>

<!-- <div class="cardLogin">
  <form [formGroup]="formularioLogin">

    <div>
      <label for='cc'>Cedula de ciudadania</label>
      <input type='number' name='cc' formControlName='cc'>*<br>
      <span>{{ getError('cc') }}</span>
      <br>
    </div>

    <div>
      <button (click)="ingresar()" class="buttonLogin" [disabled]="formularioLogin.invalid">Ingresar</button>
    </div>

  </form>
</div> -->

<div class="card" *ngIf=loginFail>
  <div class="container">
    <h2>No se encuentra el usuario con el documento dado</h2>
    <h4>Verifica tus datos e intentalo de nuevo</h4>
  </div>
</div>